.works-section {
    background-color: #00010A;
}

.works-content {
    width: 81%;
    margin: 0 auto;
    padding: 60px 0;
    font-family: 'Poppins', sans-serif;
}

.works-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 30px;
    font-family: 'syne', sans-serif;
}

.works-header h1 {
    font-size: 32px;
    font-weight: 600;
}

.works-header a {
    color: white;
    text-decoration: underline;
    font-size: 16px;
}

.work-card {
    /* background: #CBCBCB7A; */
   background: linear-gradient(
    -193deg,
    rgba(146, 150, 162, 0.85) 0%,
    rgba(230, 179, 159, 0.35) 100%
  );
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(18px); 
    border-radius: 30px;
    padding: 20px;
    display: flex;
    gap: 30px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch; 
    color: white;
    margin-bottom: 40px;
    box-sizing: border-box;
}


.work-image {
    width: 100%;
    max-width: 500px;
    border-radius: 15px;
    object-fit: cover;
}


.work-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.work-content h2 {
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: 500;
}

.work-content p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
    width: 82%;
}

.tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.tag {
    padding: 6px 14px;
    border: 1px solid white;
    border-radius: 999px;
    font-size: 14px;
}

.case-study-btn {
    padding: 12px 24px;
    background: white;
    color: black;
    border: none;
    border-radius: 30px;
    font-weight: 500;
    cursor: pointer;
    align-self: flex-start;
}

@media (max-width:480px){
    .work-content p {
    width: 100%;
}
}

